<h1>Getting Started</h1>

<p>
<i>Ember Tour</i> is a tour addon for Ember, it let you create beatiful tour guides for you app,
It is currently based on Bootstrap Tour but is planned to be rewritten the Ember way in the future.
</p>

<p>
    <i>Ember Tour</i> is an Ember CLI module and can be simply installed by:
</p>

<p>
<ol>
    <li>
        <pre><code class="bash">npm install --save-dev ember-idx-tour</code></pre>
    </li>
</ol>
</p>

<p>Want to see some code? check out the {{#link-to 'simple'}}Simple{{/link-to}} page</p>